swagger: "2.0"
basePath: /api/v2
host: core.hivelocity.net
schemes:
  - https
paths:
  /account/controlled-client:
    post:
      responses:
        "201":
          description: Success
          schema:
            $ref: '#/definitions/ClientCreate-dump'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Create controlled client for enterprise owner
      operationId: post_account_create
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/CreateEnterpriseControlledClient'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Account
    put:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/ControlledClient-dump'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Deactivate client
      operationId: put_account_create
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/DeactivateEnterpriseControlledClient'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Account
    get:
      responses:
        "200":
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/ControlledClient-dump'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get all controlled clients for enterprise owner
      operationId: get_account_create
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Account
  /bandwidth/device/{deviceId}:
    parameters:
      - required: true
        in: path
        description: ID of Device to View
        name: deviceId
        type: integer
      - default: day
        required: true
        type: string
        enum:
          - day
          - week
          - month
          - custom
        in: query
        description: Return data in the given period. Day, week, month will return the previous day, week, month from now.
        name: period
      - default: eth0
        required: true
        type: string
        enum:
          - eth0
          - eth1
          - public
          - private
          - all
        in: query
        description: Network interface to get bandwidth usage from. eth0 and eth1 are your first and second nic respectively. If unsure use the public, private, and all values. Overages are billed on public traffic.
        name: interface
      - type: boolean
        default: false
        in: query
        description: If you are a reseller, this will include historical interface data for device regardless of the current device owner.
        name: historical
      - default: 300
        type: integer
        required: true
        in: query
        description: Interval of data in seconds. Historical data is condensed, if provided value is smaller than existing steps for the date range the endpoint will return data with the smallest available step.
        name: step
      - type: integer
        default: 0
        in: query
        description: Start time of custom time period. (Unix Epoch Time)
        name: start
      - type: integer
        default: 1707469102
        in: query
        description: End time of custom time period (Unix Epoch Time)
        name: end
    post:
      responses:
        "200":
          description: Device Bandwidth Graph retrieved.
          schema:
            type: array
            items:
              $ref: '#/definitions/Bandwidth'
        "400":
          description: Unable to retrieve Bandwidth Graph for this Device.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get data by device
      operationId: post_device_id_bandwidth_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Bandwidth
  /bandwidth/device/{deviceId}/image:
    parameters:
      - required: true
        in: path
        description: ID of Device to View
        name: deviceId
        type: integer
      - default: day
        required: true
        type: string
        enum:
          - day
          - week
          - month
          - custom
        in: query
        description: Return data in the given period. Day, week, month will return the previous day, week, month from now.
        name: period
      - default: eth0
        required: true
        type: string
        enum:
          - eth0
          - eth1
          - public
          - private
          - all
        in: query
        description: Network interface to get bandwidth usage from. eth0 and eth1 are your first and second nic respectively. If unsure use the public, private, and all values. Overages are billed on public traffic.
        name: interface
      - type: integer
        default: 0
        in: query
        description: Start Time of Custom Time Period. (Unix Epoch Time)
        name: start
      - type: integer
        default: 1707469102
        in: query
        description: End Time of Custom Time Period (Unix Epoch Time)
        name: end
    post:
      responses:
        "200":
          description: Device Bandwidth Graph retrieved.
          schema:
            type: array
            items:
              $ref: '#/definitions/BandwidthImage'
        "400":
          description: Unable to retrieve Bandwidth Graph for this Device.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get PNG by device
      operationId: post_device_id_bandwidth_image_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Bandwidth
  /bandwidth/service/{serviceId}:
    parameters:
      - required: true
        in: path
        description: ID of Service to View
        name: serviceId
        type: integer
      - default: day
        required: true
        type: string
        enum:
          - day
          - week
          - month
          - custom
        in: query
        description: Return data in the given period. Day, week, month will return the previous day, week, month from now.
        name: period
      - default: eth0
        required: true
        type: string
        enum:
          - eth0
          - eth1
          - public
          - private
          - all
        in: query
        description: Network interface to get bandwidth usage from. eth0 and eth1 are your first and second nic respectively. If unsure use the public, private, and all values. Overages are billed on public traffic.
        name: interface
      - default: 300
        type: integer
        required: true
        in: query
        description: Interval of data in seconds. Historical data is condensed, if provided value is smaller than existing steps for the date range the endpoint will return data with the smallest available step.
        name: step
      - type: integer
        default: 0
        in: query
        description: Start Time of Custom Time Period. (Unix Epoch Time)
        name: start
      - type: integer
        default: 1707469102
        in: query
        description: End Time of Custom Time Period (Unix Epoch Time)
        name: end
    post:
      responses:
        "200":
          description: Service Bandwidth Graph retrieved.
          schema:
            type: array
            items:
              $ref: '#/definitions/Bandwidth'
        "400":
          description: Unable to retrieve Bandwidth Graph for this Service.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get data by service
      operationId: post_service_id_bandwidth_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Bandwidth
  /bandwidth/service/{serviceId}/image:
    parameters:
      - required: true
        in: path
        description: ID of Service to View
        name: serviceId
        type: integer
      - default: day
        required: true
        type: string
        enum:
          - day
          - week
          - month
          - custom
        in: query
        description: Return data in the given period. Day, week, month will return the previous day, week, month from now.
        name: period
      - default: eth0
        required: true
        type: string
        enum:
          - eth0
          - eth1
          - public
          - private
          - all
        in: query
        description: Network interface to get bandwidth usage from. eth0 and eth1 are your first and second nic respectively. If unsure use the public, private, and all values. Overages are billed on public traffic.
        name: interface
      - type: integer
        default: 0
        in: query
        description: Start Time of Custom Time Period. (Unix Epoch Time)
        name: start
      - type: integer
        default: 1707469102
        in: query
        description: End Time of Custom Time Period (Unix Epoch Time)
        name: end
    post:
      responses:
        "200":
          description: Service Bandwidth Graph retrieved.
          schema:
            type: array
            items:
              $ref: '#/definitions/BandwidthImage'
        "400":
          description: Unable to retrieve Bandwidth Graph for this Service.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get PNG by service
      operationId: post_service_id_bandwidth_image_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Bandwidth
  /bare-metal-devices/:
    post:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/BareMetalDevice'
        "201":
          description: Device provisioning started
        "400":
          description: Invalid device parameters.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Provision an instant device
      operationId: post_bare_metal_device_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/BareMetalDeviceCreate'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Bare Metal Devices
    get:
      responses:
        "200":
          description: Devices found successfuly
          schema:
            type: array
            items:
              $ref: '#/definitions/BareMetalDevice'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get all devices
      operationId: get_bare_metal_device_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Bare Metal Devices
  /bare-metal-devices/batch:
    post:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/BareMetalDeviceBatch'
        "201":
          description: Device provisioning started
        "400":
          description: Invalid device parameters.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Batch provision instant devices
      operationId: post_bare_metal_device_batch_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/BareMetalDeviceBatchCreate'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Bare Metal Devices
  /bare-metal-devices/{deviceId}:
    parameters:
      - name: deviceId
        in: path
        required: true
        type: integer
    delete:
      responses:
        "201":
          description: Cancellation Started.
        "204":
          description: Device Deleted
        "400":
          description: Device Cancellation Failed.
        "401":
          description: Not Allowed
        "404":
          description: Device Not Found
        "409":
          description: Device Already Being Cancelled.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Cancel/delete device
      operationId: delete_bare_metal_device_id_resource
      tags:
        - Bare Metal Devices
    put:
      responses:
        "200":
          description: Device updated.
          schema:
            $ref: '#/definitions/BareMetalDevice'
        "400":
          description: Invalid device parameters.
        "404":
          description: Device Not Found
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Update/reload instant device
      operationId: put_bare_metal_device_id_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/BareMetalDeviceUpdate'
        - name: skipPowerCheck
          in: query
          type: boolean
          description: If true, bypass the powered off check.
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Bare Metal Devices
    get:
      responses:
        "200":
          description: Deployment Found
          schema:
            $ref: '#/definitions/BareMetalDevice'
        "401":
          description: Access to Deployment not Allowed
        "404":
          description: Deployment Not Found
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get device
      operationId: get_bare_metal_device_id_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Bare Metal Devices
  /billing-info/:
    post:
      responses:
        "201":
          description: Success
          schema:
            $ref: '#/definitions/BillingInfo'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Create verification for credit card with all Billing Info
      operationId: post_billing_info_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/BillingInfoVerification'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - BillingInfo
    put:
      responses:
        "201":
          description: Success
          schema:
            $ref: '#/definitions/Credit'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Verify credit card with all Billing Info
      operationId: put_billing_info_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/BillingInfoVerification'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - BillingInfo
    get:
      responses:
        "200":
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/BillingInfo'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Return a list with all Payment Methods (Billing Info)
      operationId: get_billing_info_resource
      parameters:
        - name: clientId
          in: query
          type: integer
          description: Client ID to fetch billing info for
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - BillingInfo
  /billing-info/bank-account:
    post:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/BillingInfo'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Add a new Bank Account as a Payment Method
      operationId: post_billing_info_bank_account_create_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/BillingInfoCreateBankAccount'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - BillingInfo
  /billing-info/bank-account/{billingInfoId}:
    parameters:
      - name: billingInfoId
        in: path
        required: true
        type: integer
    put:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/BillingInfo'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Update a Bank Account
      operationId: put_billing_info_bank_account_update_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/BillingInfoCreateBankAccount'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - BillingInfo
  /billing-info/credit-card:
    post:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/BillingInfo'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Add a new Credit Card as a Payment Method
      operationId: post_billing_info_credit_card_create_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/BillingInfoCreateCreditCard'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - BillingInfo
  /billing-info/credit-card/{billingInfoId}:
    parameters:
      - name: billingInfoId
        in: path
        required: true
        type: integer
    put:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/BillingInfo'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Update a Credit Card
      operationId: put_billing_info_credit_card_update_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/BillingInfoCreateCreditCard'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - BillingInfo
  /billing-info/enable:
    get:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/PaymentMethodsEnabled'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Return Payment Methods enabled for editing
      operationId: get_payment_methods_enable_read_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - BillingInfo
  /billing-info/{billingInfoId}:
    parameters:
      - name: billingInfoId
        in: path
        required: true
        type: integer
    delete:
      responses:
        "204":
          description: Success
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Delete a Payment Method by Billing Info ID
      operationId: delete_billing_info_id_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - BillingInfo
    get:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/BillingInfo'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Return a Payment Method by Billing Info ID
      operationId: get_billing_info_id_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - BillingInfo
  /cancellation/cancellation:
    post:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Cancellation'
        "500":
          description: Service/Device already being cancelled
        "404":
          description: Device not found
        "401":
          description: Access to this resource is not permitted.
        "400":
          description: Service/Device already being cancelled
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Create cancel request
      operationId: post_cancellation_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/CancellationCreate'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Cancellations
    get:
      responses:
        "200":
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Cancellation'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get all cancel requests
      operationId: get_cancellation_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Cancellations
  /cancellation/cancellation/{cancellationId}:
    parameters:
      - name: cancellationId
        in: path
        required: true
        type: integer
    delete:
      responses:
        "404":
          description: Cancellation not found.
        "204":
          description: Cancellation successfully deleted.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Delete a Cancellation
      operationId: delete_cancellation_id_delete_resource
      tags:
        - Cancellations
  /cancellation/device/{deviceId}:
    parameters:
      - name: deviceId
        in: path
        required: true
        type: integer
    get:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Cancellation'
        "404":
          description: Device not found
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get cancel request by device
      operationId: get_cancellation_device_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Cancellations
  /cancellation/service/{serviceId}:
    parameters:
      - name: serviceId
        in: path
        required: true
        type: integer
    get:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Cancellation'
        "404":
          description: Service not found
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get cancel request by service
      operationId: get_cancellation_service_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Cancellations
  /compute/:
    post:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/BareMetalDevice'
        "201":
          description: Device provisioning started
        "400":
          description: Invalid device parameters.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Provision an instant device
      operationId: post_bare_metal_device_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/BareMetalDeviceCreate'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Compute Devices
    get:
      responses:
        "200":
          description: Devices found successfuly
          schema:
            type: array
            items:
              $ref: '#/definitions/BareMetalDevice'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get all devices
      operationId: get_bare_metal_device_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Compute Devices
  /compute/batch:
    post:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/BareMetalDeviceBatch'
        "201":
          description: Device provisioning started
        "400":
          description: Invalid device parameters.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Batch provision instant devices
      operationId: post_bare_metal_device_batch_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/BareMetalDeviceBatchCreate'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Compute Devices
  /compute/{deviceId}:
    parameters:
      - name: deviceId
        in: path
        required: true
        type: integer
    delete:
      responses:
        "201":
          description: Cancellation Started.
        "204":
          description: Device Deleted
        "400":
          description: Device Cancellation Failed.
        "401":
          description: Not Allowed
        "404":
          description: Device Not Found
        "409":
          description: Device Already Being Cancelled.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Cancel/delete device
      operationId: delete_bare_metal_device_id_resource
      tags:
        - Compute Devices
    put:
      responses:
        "200":
          description: Device updated.
          schema:
            $ref: '#/definitions/BareMetalDevice'
        "400":
          description: Invalid device parameters.
        "404":
          description: Device Not Found
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Update/reload instant device
      operationId: put_bare_metal_device_id_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/BareMetalDeviceUpdate'
        - name: skipPowerCheck
          in: query
          type: boolean
          description: If true, bypass the powered off check.
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Compute Devices
    get:
      responses:
        "200":
          description: Deployment Found
          schema:
            $ref: '#/definitions/BareMetalDevice'
        "401":
          description: Access to Deployment not Allowed
        "404":
          description: Deployment Not Found
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get device
      operationId: get_bare_metal_device_id_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Compute Devices
  /contact/:
    post:
      responses:
        "201":
          description: Contact successfully created
          schema:
            $ref: '#/definitions/Contact-dump'
        "400":
          description: Unable to create Contact
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Create a new Contact
      operationId: post_contact_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/ContactCreate'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Contact
    get:
      responses:
        "200":
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Contact-dump'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Return a list with all Contacts
      operationId: get_contact_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Contact
  /contact/password:
    post:
      responses:
        "200":
          description: Success
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Receive a request to reset password, and send a link by email with token
      operationId: post_password_reset
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/PasswordRequest'
      tags:
        - Contact
    put:
      responses:
        "200":
          description: Success
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Receive a token and password, verify the user and reset your password
      operationId: put_password_reset
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/PasswordResponse'
      tags:
        - Contact
  /contact/{contactId}:
    parameters:
      - in: path
        description: ID of Contact to View / Update
        name: contactId
        required: true
        type: integer
    delete:
      responses:
        "404":
          description: Contact not found.
        "204":
          description: Contact successfully deleted.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Delete a Contact
      operationId: delete_contact_id_resource
      tags:
        - Contact
    put:
      responses:
        "200":
          description: Contact successfully updated.
          schema:
            $ref: '#/definitions/Contact-dump'
        "400":
          description: Unable to update Contact Data.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Edit a Contact
      operationId: put_contact_id_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/ContactUpdate'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Contact
    get:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Contact-dump'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Return details of a specific Contact
      operationId: get_contact_id_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Contact
  /contact/{contactId}/password:
    parameters:
      - in: path
        description: '"ID of Contact to change password"'
        name: contactId
        required: true
        type: integer
    put:
      responses:
        "400":
          description: Invalid password for authentication.
        "200":
          description: Password was changed.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Change password for a Contact
      operationId: put_password_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/Password'
      tags:
        - Contact
  /credit/:
    post:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Credit'
        "503":
          description: Unable to add new credit.
        "201":
          description: Successfully added a new credit.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Receive billing method id and amount and return the created Credit
      operationId: post_credit_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/CreateCredit'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Credit
    get:
      responses:
        "200":
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Credit'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Return a list with all Credits
      operationId: get_credit_resource
      parameters:
        - name: status
          in: query
          type: string
          description: The current status of the service (all, active, inactive)
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Credit
  /credit/apply-coupon:
    post:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Credit'
        "400":
          description: Invalid coupon code.
        "201":
          description: Successfully applied the coupon code.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Apply the coupon code for a service
      operationId: post_credit_apply_coupon_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/CartCoupon'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Credit
  /credit/total:
    get:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/TotalActiveCredit'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Return the client's total active credit amount
      operationId: get_total_active_credit_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Credit
  /credit/validate-coupon:
    post:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/ValidateCartCoupon-dump'
        "400":
          description: Invalid coupon code.
        "201":
          description: Valid coupon code.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Validate the coupon code for a service
      operationId: post_credit_validate_coupon_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/CartCoupon'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Credit
  /deploy/:
    post:
      responses:
        "201":
          description: Deployment Created
          schema:
            $ref: '#/definitions/Deployment'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Start a new deployment
      operationId: post_deployment_resource
      parameters:
        - name: deploymentName
          in: query
          type: string
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Deployment
    get:
      responses:
        "200":
          description: Deployments found successfully
          schema:
            type: array
            items:
              $ref: '#/definitions/Deployment'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Return a list with all client deployments
      operationId: get_deployment_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Deployment
  /deploy/{deploymentId}:
    parameters:
      - in: path
        description: Id of the deployment to interact with
        name: deploymentId
        required: true
        type: integer
    delete:
      responses:
        "204":
          description: Deployment Deleted
        "401":
          description: Access to this Deployment not Allowed
        "404":
          description: Deployment Not Found
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Delete the specified deployment
      operationId: delete_deployment_id_resource
      tags:
        - Deployment
    put:
      responses:
        "200":
          description: Server configuration added to Deployment
          schema:
            $ref: '#/definitions/Deployment'
        "400":
          description: Your configuration have incompatible or unavailable options
        "401":
          description: Access to this Deployment not Allowed
        "404":
          description: Deployment Not Found
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Receive product, quantity and options to be added on the deployment
      operationId: put_deployment_id_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/DeploymentCustomization'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Deployment
    get:
      responses:
        "200":
          description: Deployment Found
          schema:
            $ref: '#/definitions/Deployment'
        "401":
          description: Access to Deployment not Allowed
        "404":
          description: Deployment Not Found
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Return a dictionary with deployment information
      operationId: get_deployment_id_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Deployment
    post:
      responses:
        "201":
          description: Deployment Started
        "401":
          description: Access to Deployment not Allowed
        "404":
          description: Deployment Not Found
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Input a billing info id and script to process and finish a deployment
      operationId: post_deployment_id_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/DeploymentStart'
      tags:
        - Deployment
  /device/:
    get:
      responses:
        "200":
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Device-dump'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get all devices
      operationId: get_device_resource
      parameters:
        - type: integer
          default: 0
          required: false
          in: query
          description: Filter Devices only in this Rack ID
          name: rack_id
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
  /device/devicelist: {}
  /device/ipmi/thresholds:
    put:
      responses:
        "200":
          description: Devices IPMI Thresholds updated.
          schema:
            $ref: '#/definitions/DevicesIPMIThresholds'
        "400":
          description: Unable to update IPMI Thresholds for this Device list.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Bulk update IPMI thresholds
      operationId: put_ipmi_devices_thresholds_id_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/UpdateDevicesIPMIThresholds'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
  /device/linked-payment-method/{billingInfoId}:
    parameters:
      - name: billingInfoId
        in: path
        required: true
        type: integer
    get:
      responses:
        "200":
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Device-dump'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get by payment method
      operationId: get_device_payment_method_linked_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
  /device/preview-ignition:
    post:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/PreviewEffectiveIgnitionResponse'
        "422":
          description: Error
        "400":
          description: Error
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Preview Ignition injections
      operationId: post_preview_effective_ignition_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/PreviewEffectiveIgnition'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
  /device/tags:
    get:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/DeviceTag'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get all tags
      operationId: get_client_device_tag_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
  /device/tags-order:
    put:
      responses:
        "200":
          description: Device tags order updated.
          schema:
            $ref: '#/definitions/DeviceTag'
        "400":
          description: Bad request.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Update tag order
      operationId: put_client_device_tag_order_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/DeviceTag'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
    get:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/DeviceTag'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get tag order
      operationId: get_client_device_tag_order_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
  /device/tags-order/all:
    get:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/DeviceTag'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get all tag orders
      operationId: get_all_device_tag_order_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
  /device/{deviceId}:
    parameters:
      - in: path
        description: ID of Device to View / Update
        name: deviceId
        required: true
        type: integer
    put:
      responses:
        "200":
          description: Device MetaData was updated.
          schema:
            $ref: '#/definitions/Device-dump'
        "400":
          description: Unable to update Device MetaData.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Update device
      operationId: put_device_id_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/DeviceUpdate'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
    get:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Device-dump'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get device
      operationId: get_device_id_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
  /device/{deviceId}/deploy/script:
    parameters:
      - in: path
        description: ID of the Device to request the custom script from deploy
        name: deviceId
        required: true
        type: integer
  /device/{deviceId}/deploy/ssh_key:
    parameters:
      - in: path
        description: ID of the Device to request the device ssh key from deploy
        name: deviceId
        required: true
        type: integer
  /device/{deviceId}/events:
    parameters:
      - name: deviceId
        in: path
        required: true
        type: string
    get:
      responses:
        "200":
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/DeviceEvent'
        "404":
          description: Device not found
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get all events
      operationId: get_device_id_event_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
  /device/{deviceId}/ignition:
    parameters:
      - name: deviceId
        in: path
        required: true
        type: integer
    get:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/EffectiveIgnitionResponse'
        "404":
          description: Not Found
        "400":
          description: Error
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get Ignition injections
      operationId: get_effective_ignition_id_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
  /device/{deviceId}/initial-creds:
    parameters:
      - required: true
        in: path
        description: ID of Device to retrieve initial authentication credentials for
        name: deviceId
        type: integer
    get:
      responses:
        "200":
          description: Device initial credentials.
          schema:
            $ref: '#/definitions/DeviceInitialCreds'
        "400":
          description: Unable to get initial credentials for this Device.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get initial creds
      operationId: get_initial_creds_id_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
  /device/{deviceId}/initial-password:
    parameters:
      - required: true
        in: path
        description: ID of Device to retrieve initial password
        name: deviceId
        type: integer
    get:
      responses:
        "200":
          description: Device initial password.
          schema:
            $ref: '#/definitions/DevicePassword'
        "400":
          description: Unable to get initial password this Device.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get initial password
      operationId: get_initial_password_id_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
  /device/{deviceId}/ipmi:
    parameters:
      - required: true
        in: path
        description: ID of Device to retrieve IPMI info.
        name: deviceId
        type: integer
    get:
      responses:
        "200":
          description: Device IPMI Thresholds retrieved
          schema:
            $ref: '#/definitions/DeviceIPMIInfo'
        "400":
          description: Unable to retrieve IPMI Thresholds for this Device.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get IPMI data
      operationId: get_ipmi_info_id_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
  /device/{deviceId}/ipmi/login-data:
    parameters:
      - required: true
        in: path
        description: ID of Device to retrieve IPMI Login data.
        name: deviceId
        type: integer
    get:
      responses:
        "200":
          description: Device IPMI Login data retrieved
          schema:
            $ref: '#/definitions/IPMILoginData'
        "400":
          description: Unable to retrieve IPMI Login data for this Device.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get IPMI creds
      operationId: get_ipmi_info_login_data_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
  /device/{deviceId}/ipmi/nat:
    parameters:
      - in: path
        description: ID of a client Device
        name: deviceId
        required: true
        type: integer
    get:
      responses:
        "400":
          description: The request has problems. Revise it and try again.
        "202":
          description: The request was accepted.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Clear IPMI whitelist
      operationId: get_device_ipminat_rule_resource
      tags:
        - Device
  /device/{deviceId}/ipmi/thresholds:
    parameters:
      - required: true
        in: path
        description: ID of Device to View
        name: deviceId
        type: integer
    put:
      responses:
        "200":
          description: Device IPMI Thresholds retrieved.
          schema:
            $ref: '#/definitions/DeviceIPMIThresholds'
        "400":
          description: Unable to update IPMI Thresholds for this Device.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Update IPMI thresholds
      operationId: put_ipmi_thresholds_id_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/DeviceIPMIThresholds'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
    get:
      responses:
        "200":
          description: Device IPMI Thresholds retrieved.
          schema:
            $ref: '#/definitions/DeviceIPMIThresholds'
        "400":
          description: Unable to retrieve IPMI Thresholds for this Device.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get IPMI thresholds
      operationId: get_ipmi_thresholds_id_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
  /device/{deviceId}/ipmi/valid-login:
    parameters:
      - required: true
        in: path
        description: ID of Device to check IPMI credentials
        name: deviceId
        type: integer
    get:
      responses:
        "200":
          description: IPMI credentials validated.
          schema:
            $ref: '#/definitions/IPMIValidLogin'
        "400":
          description: Unable to validate IPMI credentials this Device.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get IPMI access status
      operationId: get_ipmi_valid_login_id_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
  /device/{deviceId}/ipmi/whitelist/:
    parameters:
      - in: path
        description: ID of the Device to put IP in Whitelist
        name: deviceId
        required: true
        type: integer
    post:
      responses:
        "400":
          description: The request has problems. Revise it and try again.
        "202":
          description: The request was accepted.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Whitelist IP for IPMI
      operationId: post_device_ipmi_whitelist_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/DeviceIPMIWhitelistIP'
      tags:
        - Device
  /device/{deviceId}/ips:
    parameters:
      - name: deviceId
        in: path
        required: true
        type: integer
    get:
      responses:
        "200":
          description: Device Ip Assignments retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/IPAssignment'
        "400":
          description: Unable to retrieve IP Assignments for this Device.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get IPs
      operationId: get_device_ip_assignments_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
  /device/{deviceId}/port/{portId}/clear:
    parameters:
      - name: deviceId
        in: path
        required: true
        type: integer
      - name: portId
        in: path
        required: true
        type: integer
    post:
      responses:
        "202":
          description: Accepted
          schema:
            $ref: '#/definitions/NetworkTask-dump'
        "429":
          description: Request was Rate Limited
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Clear all Port configurations
      operationId: post_device_port_id_clear_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
  /device/{deviceId}/ports:
    parameters:
      - name: deviceId
        in: path
        required: true
        type: integer
    put:
      responses:
        "202":
          description: Accepted
          schema:
            type: array
            items:
              $ref: '#/definitions/NetworkTask-dump'
        "429":
          description: Request was Rate Limited
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Update port network
      operationId: put_device_port_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/DevicePortsUpdate'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
    get:
      responses:
        "200":
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/DevicePort'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get ports
      operationId: get_device_port_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
  /device/{deviceId}/ports/bond:
    parameters:
      - name: deviceId
        in: path
        required: true
        type: integer
    post:
      responses:
        "202":
          description: Accepted
          schema:
            $ref: '#/definitions/NetworkTask-dump'
        "429":
          description: Request was Rate Limited
        "404":
          description: Device not found
        "401":
          description: Access to this Device is not allowed
        "400":
          description: Invalid action
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Bond ports
      operationId: post_device_bond_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
    delete:
      responses:
        "202":
          description: Accepted
          schema:
            $ref: '#/definitions/NetworkTask-dump'
        "429":
          description: Request was Rate Limited
        "404":
          description: Device not found
        "401":
          description: Access to this Device is not allowed
        "400":
          description: Invalid action
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Unbond ports
      operationId: delete_device_bond_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
  /device/{deviceId}/power:
    parameters:
      - in: path
        description: ID of Device to View / Update
        name: deviceId
        required: true
        type: integer
    post:
      responses:
        "202":
          description: Success
          schema:
            $ref: '#/definitions/DevicePower'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Update power status
      operationId: post_power_resource
      parameters:
        - name: action
          in: query
          type: string
          required: true
          description: power action to either boot, reboot, or shutdown
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
    get:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/DevicePower'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get power status
      operationId: get_power_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
  /device/{deviceId}/reload:
    parameters:
      - name: deviceId
        in: path
        required: true
        type: integer
    post:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/ServiceOption'
        "400":
          description: Error
        "404":
          description: Device not found
        "202":
          description: Success
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Reload device
      operationId: post_device_reload_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/DeviceReload'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
  /device/{deviceId}/services:
    parameters:
      - default: flat
        in: query
        description: Get results grouped by service type code 'type_code', or 'flat'
        name: group_by
        type: string
      - default: all
        type: string
        in: query
        description: |-
          Return service having the same service type code, the default value is all
           The list of service types can be accessed on https://core.hivelocity.net/api/v2/service/types
        name: type_code
      - in: path
        description: ID of Device to get all services by type
        name: deviceId
        required: true
        type: integer
    get:
      responses:
        "404":
          description: Unable to find the device or the device does not have a service
        "400":
          description: Unable to retrieve services for this device
        "200":
          description: Device services retrieved
          schema:
            $ref: '#/definitions/Services'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get all device services
      operationId: get_device_id_service_resource
      tags:
        - Device
  /device/{deviceId}/tags:
    parameters:
      - in: path
        description: ID of Device to View / Update
        name: deviceId
        required: true
        type: integer
    put:
      responses:
        "200":
          description: Device tags updated.
          schema:
            $ref: '#/definitions/DeviceTag'
        "400":
          description: Bad request.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Update device tags
      operationId: put_device_tag_id_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/DeviceTag'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
    get:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/DeviceTag'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get device tags
      operationId: get_device_tag_id_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Device
  /domains/:
    post:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/DomainReturn'
        "400":
          description: Bad request.
        "201":
          description: Created.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Create a new domain
      operationId: post_domain_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/DomainCreate'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Domains
    get:
      responses:
        "200":
          description: Success.
          schema:
            type: array
            items:
              $ref: '#/definitions/DomainReturn'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Return the domains of a client
      operationId: get_domain_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Domains
  /domains/ptr:
    get:
      responses:
        "200":
          description: Success.
          schema:
            type: array
            items:
              $ref: '#/definitions/PTRRecordReturn'
        "400":
          description: Error
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Return the PTR records of a client
      operationId: get_ptr_record_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Domains
  /domains/ptr/{recordId}:
    parameters:
      - name: recordId
        in: path
        required: true
        type: integer
    put:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/PTRRecordReturn'
        "400":
          description: Error
        "202":
          description: Success.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Update PTR record
      operationId: put_ptr_record_id_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/PTRRecordUpdate'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Domains
    get:
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/PTRRecordReturn'
        "400":
          description: Error
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get PTR record by ID and name
      operationId: get_ptr_record_id_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Domains
  /domains/{domainID}/aaaa-record:
    parameters:
      - name: domainID
        in: path
        required: true
        type: integer
    post:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/AAAARecordReturn'
        "404":
          description: Not found
        "400":
          description: Error
        "201":
          description: Created
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Create a new AAAA Record for given zone
      operationId: post_aaaa_record_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/AAAARecordCreate'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Domains
    get:
      responses:
        "200":
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/AAAARecordReturn'
        "404":
          description: Not found
        "400":
          description: Error
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Return all AAAA Records found for given zone
      operationId: get_aaaa_record_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Domains
  /domains/{domainID}/aaaa-record/{recordId}:
    parameters:
      - name: domainID
        in: path
        required: true
        type: integer
      - name: recordId
        in: path
        required: true
        type: integer
    delete:
      responses:
        "404":
          description: Not found
        "400":
          description: Error
        "204":
          description: Deleted
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Delete an AAAA Record for given zone
      operationId: delete_aaaa_record_id_resource
      tags:
        - Domains
    put:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/AAAARecordReturn'
        "404":
          description: Not Found
        "400":
          description: Error
        "202":
          description: Updated
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Update an AAAA Record for given id
      operationId: put_aaaa_record_id_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/AAAARecordUpdate'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Domains
    get:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/AAAARecordReturn'
        "404":
          description: Not found
        "400":
          description: Error
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Return Single AAAA Records found for given id
      operationId: get_aaaa_record_id_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Domains
  /domains/{domainID}/mx-record:
    parameters:
      - name: domainID
        in: path
        required: true
        type: integer
    post:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/MXRecordReturn'
        "404":
          description: Not found
        "400":
          description: Error
        "201":
          description: Created
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Create a new MX Record for given zone
      operationId: post_mx_record_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/MXRecordCreate'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Domains
    get:
      responses:
        "200":
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/MXRecordReturn'
        "404":
          description: Not found
        "400":
          description: Error
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Return all MX Records found for given zone
      operationId: get_mx_record_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Domains
  /domains/{domainID}/mx-record/{recordId}:
    parameters:
      - name: domainID
        in: path
        required: true
        type: integer
      - name: recordId
        in: path
        required: true
        type: integer
    delete:
      responses:
        "404":
          description: Not found
        "400":
          description: Error
        "204":
          description: Deleted
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Delete an MX Record for given zone
      operationId: delete_mx_record_id_resource
      tags:
        - Domains
    put:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/MXRecordReturn'
        "404":
          description: Not found
        "400":
          description: Error
        "202":
          description: Updated
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Update an MX Record for given zone
      operationId: put_mx_record_id_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/MXRecordUpdate'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Domains
    get:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/MXRecordReturn'
        "404":
          description: Not found
        "400":
          description: Error
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Return Single MX Records found for given id
      operationId: get_mx_record_id_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Domains
  /domains/{domainId}:
    parameters:
      - name: domainId
        in: path
        required: true
        type: integer
    delete:
      responses:
        "500":
          description: Error.
        "404":
          description: Domain not found.
        "204":
          description: Deleted.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Delete domain for given id
      operationId: delete_domain_id_resource
      tags:
        - Domains
    get:
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/DomainReturn'
        "404":
          description: Domain not found.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Return a domain for given id
      operationId: get_domain_id_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Domains
  /domains/{domain}/a-record:
    parameters:
      - name: domain
        in: path
        required: true
        type: string
    post:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/ARecord'
        "409":
          description: Record Already Exists
        "404":
          description: Not found
        "400":
          description: Error
        "201":
          description: Created
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Create a new A Record for given zone
      operationId: post_a_record_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/ARecord'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Domains
    get:
      responses:
        "200":
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/ARecord'
        "404":
          description: Not found
        "400":
          description: Error
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Return all A Records found for given zone name
      operationId: get_a_record_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Domains
  /domains/{domain}/a-record/{record}:
    parameters:
      - name: domain
        in: path
        required: true
        type: string
      - name: record
        in: path
        required: true
        type: string
    delete:
      responses:
        "404":
          description: Not found
        "400":
          description: Error
        "204":
          description: Deleted
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Delete a single A Record value for given zone
      operationId: delete_a_record_id_resource
      tags:
        - Domains
    put:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/ARecord'
        "404":
          description: Not found
        "400":
          description: Error
        "202":
          description: Updated
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Update an A Record for given zone
      operationId: put_a_record_id_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/ARecord'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Domains
    get:
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/ARecord'
        "404":
          description: Not found
        "400":
          description: Error
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Return Single A Records found for given domain name
      operationId: get_a_record_id_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Domains
  /ignition/:
    post:
      responses:
        "201":
          description: Successfully created ignition configs
          schema:
            $ref: '#/definitions/IgnitionResponse'
        "400":
          description: Unable to create ignition config
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Creates a new Ignition configuration
      operationId: post_ignition_resource
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/CreateIgnition'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Ignition
    get:
      responses:
        "200":
          description: Successfully returned ignition configs
          schema:
            type: array
            items:
              $ref: '#/definitions/IgnitionResponse'
        "400":
          description: Unable to get ignition configs
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Return all Ignition configurations
      operationId: get_ignition_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Ignition
  /ignition/{ignitionId}:
    parameters:
      - name: ignitionId
        in: path
        required: true
        type: integer
    delete:
      responses:
        "200":
          description: Successfully returned ignition configs
        "400":
          description: Unable to delete ignition configs
        "404":
          description: Not found
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Delete an Ignition configuration by ID
      operationId: delete_ignition_resource_id
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Ignition
    put:
      responses:
        "200":
          description: Successfully updated ignition config
          schema:
            $ref: '#/definitions/IgnitionResponse'
        "400":
          description: Unable to get ignition config
        "404":
          description: Not found
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Update an Ignition configuration by ID
      operationId: put_ignition_resource_id
      parameters:
        - name: payload
          required: true
          in: body
          schema:
            $ref: '#/definitions/UpdateIgnition'
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Ignition
    get:
      responses:
        "200":
          description: Successfully returned ignition config
          schema:
            $ref: '#/definitions/IgnitionResponse'
        "400":
          description: Unable to get ignition config
        "404":
          description: Not found
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Return an Ignition configuration by ID
      operationId: get_ignition_resource_id
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Ignition
  /inventory/locations:
    parameters:
      - default: null
        in: query
        description: Filter by the VPS locations
        name: vpsLocations
        type: string
    get:
      responses:
        "200":
          description: Location data was found
          schema:
            type: array
            items:
              $ref: '#/definitions/Location'
        "500":
          description: Unable to gather locations
        "404":
          description: Unable to find locations
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get all facilities
      operationId: get_location_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Inventory
  /inventory/product:
    parameters:
      - default: MAIN
        type: string
        enum:
          - MAIN
          - CUSTOM_DISPLAY
          - MASSIVESTORAGE
          - GPU
          - OUTLET
          - LANDING
        in: query
        description: "Retrieve products by their location in the Hivelocity store: \n\nMAIN: The main list of instant servers.\nCUSTOM_DISPLAY: The main list of custom servers.\nMASSIVESTORAGE: Servers with up to 90 drives.\nGPU: Servers with GPUs.\nOUTLET: Discounted older hardware.\nLANDING: Periodic specials for events."
        name: location
      - type: boolean
        default: false
        in: query
        description: Include custom server products.
        name: include_custom
      - default: null
        in: query
        description: |-
          Filter by bonding support. Values are true/false. None will return a mix of both.
          *DEPRECATED:* Soon, all servers sold will have bonding support and this will be removed.
        name: bonding_support
        type: string
      - default: facility
        in: query
        description: Get results grouped by 'city', 'facility', or 'flat'
        name: group_by
        type: string
    get:
      responses:
        "200":
          description: Product data was found
          schema:
            $ref: '#/definitions/Inventory'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get all products
      operationId: get_stock_resource
      tags:
        - Inventory
  /inventory/product/{productId}:
    parameters:
      - in: path
        description: Product database ID
        name: productId
        required: true
        type: integer
    get:
      responses:
        "200":
          description: Product data was found
          schema:
            $ref: '#/definitions/Stock'
        "404":
          description: Product with given id not found
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Get product
      operationId: get_stock_by_product_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Inventory
  /invoice/:
    get:
      responses:
        "200":
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Invoice'
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Return serialized data on all invoices
      operationId: get_invoice_resource
      parameters:
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Invoice
  /invoice/search:
    get:
      responses:
        "200":
          description: Invoice search results.
          schema:
            $ref: '#/definitions/InvoiceSeachResult'
        "400":
          description: Invalid invoice search request.
        "403":
          description: You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission.
      summary: Return results of invoice search
      operationId: get_invoice_search_resource
      parameters:
        - type: integer
          in: query
          description: The end date range
          name: endDate
        - type: integer
          in: query
          description: The start date range
          name: startDate
        - default: 10
          type: integer
          in: query
          description: Number of items per page.
          name: perPage
        - default: 1
          type: integer
          in: query
          description: The page number of search.
          name: page
        - type: string
          in: query
          description: Content search.
          name: q
        - name: X-Fields
          in: header
          type: string
          format: mask
          description: An optional fields mask
      tags:
        - Invoice
  /invoice/unpaid:
    get:
[...]
