---
swagger: "2.0"
info:
  description: "Interact with Hivelocity"
  version: "2.0"
  title: "Hivelocity API"
host: "core.hivelocity.net"
basePath: "/api/v2"
tags:
- name: "Account"
  description: "Endpoints to manage Account"
- name: "Bandwidth"
  description: "Request Bandwidth Data."
- name: "Bare Metal Devices"
  description: "Endpoints to handle bare metal devices."
- name: "BillingInfo"
  description: "Endpoints to manage Billing Info"
- name: "Cancellations"
  description: "Cancellation information"
- name: "Contact"
  description: "Endpoints to manager Contacts"
- name: "Credit"
  description: "Endpoints to manage Credit"
- name: "Device"
  description: "Access to your Bare-Metal or Virtual Devices"
- name: "Domains"
  description: "Manage your DNS Domains"
- name: "Ignition"
  description: "Endpoints to manage CoreOS ignition files."
- name: "Inventory"
  description: "Products Inventory Data"
- name: "Invoice"
  description: "Invoice information and PDF download"
- name: "IPAssignment"
  description: "Endpoints to manage IP Assignments"
- name: "Network"
  description: "Endpoints to perform network related tasks"
- name: "Order"
  description: "Get Order and its details"
- name: "Order Groups"
  description: "Endpoints to manage Order Groups"
- name: "Permission"
  description: "Endpoints to manage Permissions"
- name: "Product"
  description: "Endpoints to manage Products"
- name: "Profile"
  description: "Endpoints to manage Profiles"
- name: "Deployment"
  description: "Endpoints to handle your servers provisioning"
- name: "Service"
  description: "Service information"
- name: "SshKey"
  description: "Endpoints to manage SSH key."
- name: "Ticket"
  description: "Ticket information"
- name: "Token"
  description: "Endpoints to manage Public API Token"
- name: "VLAN"
  description: "Endpoints to manage VLANs"
- name: "Webhook"
  description: "Access and modify your Hivelocity webhooks."
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
security:
- apiKey: []
paths:
  /account/controlled-client:
    get:
      tags:
      - "Account"
      summary: "Get all controlled clients for enterprise owner"
      operationId: "get_account_create"
      parameters:
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ControlledClient-dump"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    post:
      tags:
      - "Account"
      summary: "Create controlled client for enterprise owner"
      operationId: "post_account_create"
      parameters:
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/CreateEnterpriseControlledClient"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "201":
          description: "Success"
          schema:
            $ref: "#/definitions/ClientCreate-dump"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    put:
      tags:
      - "Account"
      summary: "Deactivate client"
      operationId: "put_account_create"
      parameters:
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/DeactivateEnterpriseControlledClient"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/ControlledClient-dump"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /bandwidth/device/{deviceId}:
    post:
      tags:
      - "Bandwidth"
      summary: "Get data by device"
      operationId: "post_device_id_bandwidth_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        description: "ID of Device to View"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - name: "period"
        in: "query"
        description: "Return data in the given period. Day, week, month will return\
          \ the previous day, week, month from now."
        required: true
        type: "string"
        default: "day"
        enum:
        - "day"
        - "week"
        - "month"
        - "custom"
        x-exportParamName: "Period"
      - name: "interface"
        in: "query"
        description: "Network interface to get bandwidth usage from. eth0 and eth1\
          \ are your first and second nic respectively. If unsure use the public,\
          \ private, and all values. Overages are billed on public traffic."
        required: true
        type: "string"
        default: "eth0"
        enum:
        - "eth0"
        - "eth1"
        - "public"
        - "private"
        - "all"
        x-exportParamName: "Interface_"
      - name: "historical"
        in: "query"
        description: "If you are a reseller, this will include historical interface\
          \ data for device regardless of the current device owner."
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Historical"
        x-optionalDataType: "Bool"
      - name: "step"
        in: "query"
        description: "Interval of data in seconds. Historical data is condensed, if\
          \ provided value is smaller than existing steps for the date range the endpoint\
          \ will return data with the smallest available step."
        required: true
        type: "integer"
        default: 300
        x-exportParamName: "Step"
      - name: "start"
        in: "query"
        description: "Start time of custom time period. (Unix Epoch Time)"
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Start"
        x-optionalDataType: "Int32"
      - name: "end"
        in: "query"
        description: "End time of custom time period (Unix Epoch Time)"
        required: false
        type: "integer"
        default: 1678795545
        x-exportParamName: "End"
        x-optionalDataType: "Int32"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Device Bandwidth Graph retrieved."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Bandwidth"
        "400":
          description: "Unable to retrieve Bandwidth Graph for this Device."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /bandwidth/device/{deviceId}/image:
    post:
      tags:
      - "Bandwidth"
      summary: "Get PNG by device"
      operationId: "post_device_id_bandwidth_image_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        description: "ID of Device to View"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - name: "period"
        in: "query"
        description: "Return data in the given period. Day, week, month will return\
          \ the previous day, week, month from now."
        required: true
        type: "string"
        default: "day"
        enum:
        - "day"
        - "week"
        - "month"
        - "custom"
        x-exportParamName: "Period"
      - name: "interface"
        in: "query"
        description: "Network interface to get bandwidth usage from. eth0 and eth1\
          \ are your first and second nic respectively. If unsure use the public,\
          \ private, and all values. Overages are billed on public traffic."
        required: true
        type: "string"
        default: "eth0"
        enum:
        - "eth0"
        - "eth1"
        - "public"
        - "private"
        - "all"
        x-exportParamName: "Interface_"
      - name: "start"
        in: "query"
        description: "Start Time of Custom Time Period. (Unix Epoch Time)"
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Start"
        x-optionalDataType: "Int32"
      - name: "end"
        in: "query"
        description: "End Time of Custom Time Period (Unix Epoch Time)"
        required: false
        type: "integer"
        default: 1678795545
        x-exportParamName: "End"
        x-optionalDataType: "Int32"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Device Bandwidth Graph retrieved."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/BandwidthImage"
        "400":
          description: "Unable to retrieve Bandwidth Graph for this Device."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /bandwidth/service/{serviceId}:
    post:
      tags:
      - "Bandwidth"
      summary: "Get data by service"
      operationId: "post_service_id_bandwidth_resource"
      parameters:
      - name: "serviceId"
        in: "path"
        description: "ID of Service to View"
        required: true
        type: "integer"
        x-exportParamName: "ServiceId"
      - name: "period"
        in: "query"
        description: "Return data in the given period. Day, week, month will return\
          \ the previous day, week, month from now."
        required: true
        type: "string"
        default: "day"
        enum:
        - "day"
        - "week"
        - "month"
        - "custom"
        x-exportParamName: "Period"
      - name: "interface"
        in: "query"
        description: "Network interface to get bandwidth usage from. eth0 and eth1\
          \ are your first and second nic respectively. If unsure use the public,\
          \ private, and all values. Overages are billed on public traffic."
        required: true
        type: "string"
        default: "eth0"
        enum:
        - "eth0"
        - "eth1"
        - "public"
        - "private"
        - "all"
        x-exportParamName: "Interface_"
      - name: "step"
        in: "query"
        description: "Interval of data in seconds. Historical data is condensed, if\
          \ provided value is smaller than existing steps for the date range the endpoint\
          \ will return data with the smallest available step."
        required: true
        type: "integer"
        default: 300
        x-exportParamName: "Step"
      - name: "start"
        in: "query"
        description: "Start Time of Custom Time Period. (Unix Epoch Time)"
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Start"
        x-optionalDataType: "Int32"
      - name: "end"
        in: "query"
        description: "End Time of Custom Time Period (Unix Epoch Time)"
        required: false
        type: "integer"
        default: 1678795545
        x-exportParamName: "End"
        x-optionalDataType: "Int32"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Service Bandwidth Graph retrieved."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Bandwidth"
        "400":
          description: "Unable to retrieve Bandwidth Graph for this Service."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /bandwidth/service/{serviceId}/image:
    post:
      tags:
      - "Bandwidth"
      summary: "Get PNG by service"
      operationId: "post_service_id_bandwidth_image_resource"
      parameters:
      - name: "serviceId"
        in: "path"
        description: "ID of Service to View"
        required: true
        type: "integer"
        x-exportParamName: "ServiceId"
      - name: "period"
        in: "query"
        description: "Return data in the given period. Day, week, month will return\
          \ the previous day, week, month from now."
        required: true
        type: "string"
        default: "day"
        enum:
        - "day"
        - "week"
        - "month"
        - "custom"
        x-exportParamName: "Period"
      - name: "interface"
        in: "query"
        description: "Network interface to get bandwidth usage from. eth0 and eth1\
          \ are your first and second nic respectively. If unsure use the public,\
          \ private, and all values. Overages are billed on public traffic."
        required: true
        type: "string"
        default: "eth0"
        enum:
        - "eth0"
        - "eth1"
        - "public"
        - "private"
        - "all"
        x-exportParamName: "Interface_"
      - name: "start"
        in: "query"
        description: "Start Time of Custom Time Period. (Unix Epoch Time)"
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Start"
        x-optionalDataType: "Int32"
      - name: "end"
        in: "query"
        description: "End Time of Custom Time Period (Unix Epoch Time)"
        required: false
        type: "integer"
        default: 1678795545
        x-exportParamName: "End"
        x-optionalDataType: "Int32"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Service Bandwidth Graph retrieved."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/BandwidthImage"
        "400":
          description: "Unable to retrieve Bandwidth Graph for this Service."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /bare-metal-devices/:
    get:
      tags:
      - "Bare Metal Devices"
      summary: "Get all devices"
      operationId: "get_bare_metal_device_resource"
      parameters:
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Devices found successfuly"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/BareMetalDevice"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    post:
      tags:
      - "Bare Metal Devices"
      summary: "Provision an instant device"
      operationId: "post_bare_metal_device_resource"
      parameters:
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/BareMetalDeviceCreate"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/BareMetalDevice"
        "201":
          description: "Device provisioning started"
        "400":
          description: "Invalid device parameters."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /bare-metal-devices/batch:
    post:
      tags:
      - "Bare Metal Devices"
      summary: "Batch provision instant devices"
      operationId: "post_bare_metal_device_batch_resource"
      parameters:
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/BareMetalDeviceBatchCreate"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/BareMetalDeviceBatch"
        "201":
          description: "Device provisioning started"
        "400":
          description: "Invalid device parameters."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /bare-metal-devices/{deviceId}:
    get:
      tags:
      - "Bare Metal Devices"
      summary: "Get device"
      operationId: "get_bare_metal_device_id_resource"
      parameters:
      - name: "deploymentId"
        in: "query"
        description: "Id of the deployment to interact with"
        required: false
        type: "string"
        x-exportParamName: "DeploymentId"
        x-optionalDataType: "String"
      - name: "deviceId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Deployment Found"
          schema:
            $ref: "#/definitions/BareMetalDevice"
        "401":
          description: "Access to Deployment not Allowed"
        "404":
          description: "Deployment Not Found"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    put:
      tags:
      - "Bare Metal Devices"
      summary: "Update/reload instant device"
      operationId: "put_bare_metal_device_id_resource"
      parameters:
      - name: "deploymentId"
        in: "query"
        description: "Id of the deployment to interact with"
        required: false
        type: "string"
        x-exportParamName: "DeploymentId"
        x-optionalDataType: "String"
      - name: "deviceId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/BareMetalDeviceUpdate"
        x-exportParamName: "Payload"
      - name: "skipPowerCheck"
        in: "query"
        description: "If true, bypass the powered off check."
        required: false
        type: "boolean"
        x-exportParamName: "SkipPowerCheck"
        x-optionalDataType: "Bool"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Device updated."
          schema:
            $ref: "#/definitions/BareMetalDevice"
        "400":
          description: "Invalid device parameters."
        "404":
          description: "Device Not Found"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    delete:
      tags:
      - "Bare Metal Devices"
      summary: "Cancel/delete device"
      operationId: "delete_bare_metal_device_id_resource"
      parameters:
      - name: "deploymentId"
        in: "query"
        description: "Id of the deployment to interact with"
        required: false
        type: "string"
        x-exportParamName: "DeploymentId"
        x-optionalDataType: "String"
      - name: "deviceId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      responses:
        "201":
          description: "Cancellation Started."
        "204":
          description: "Device Deleted"
        "400":
          description: "Device Cancellation Failed."
        "401":
          description: "Not Allowed"
        "404":
          description: "Device Not Found"
        "409":
          description: "Device Already Being Cancelled."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /billing-info/:
    get:
      tags:
      - "BillingInfo"
      summary: "Return a list with all Billing Info"
      operationId: "get_billing_info_resource"
      parameters:
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/BillingInfo"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    post:
      tags:
      - "BillingInfo"
      summary: "Create verification for credit card with all Billing Info"
      operationId: "post_billing_info_resource"
      parameters:
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/BillingInfoVerification"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "201":
          description: "Success"
          schema:
            $ref: "#/definitions/BillingInfo"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    put:
      tags:
      - "BillingInfo"
      summary: "Verify credit card with all Billing Info"
      operationId: "put_billing_info_resource"
      parameters:
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/BillingInfoVerification"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "201":
          description: "Success"
          schema:
            $ref: "#/definitions/Credit"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /cancellation/cancellation:
    get:
      tags:
      - "Cancellations"
      summary: "Get all cancel requests"
      operationId: "get_cancellation_resource"
      parameters:
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Cancellation"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    post:
      tags:
      - "Cancellations"
      summary: "Create cancel request"
      operationId: "post_cancellation_resource"
      parameters:
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/CancellationCreate"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/Cancellation"
        "500":
          description: "Service/Device already being cancelled"
        "404":
          description: "Device not found"
        "401":
          description: "Access to this resource is not permitted."
        "400":
          description: "Service/Device already being cancelled"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /cancellation/cancellation/{cancellationId}:
    get:
      tags:
      - "Cancellations"
      summary: "Get cancel request"
      operationId: "get_cancellation_id_client_resource"
      parameters:
      - name: "cancellationId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "CancellationId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/Cancellation"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /cancellation/device/{deviceId}:
    get:
      tags:
      - "Cancellations"
      summary: "Get cancel request by device"
      operationId: "get_cancellation_device_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/Cancellation"
        "404":
          description: "Device not found"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /cancellation/service/{serviceId}:
    get:
      tags:
      - "Cancellations"
      summary: "Get cancel request by service"
      operationId: "get_cancellation_service_resource"
      parameters:
      - name: "serviceId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "ServiceId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/Cancellation"
        "404":
          description: "Service not found"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /contact/:
    get:
      tags:
      - "Contact"
      summary: "Return a list with all Contacts"
      operationId: "get_contact_resource"
      parameters:
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Contact-dump"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    post:
      tags:
      - "Contact"
      summary: "Create a new Contact"
      operationId: "post_contact_resource"
      parameters:
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/ContactCreate"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "201":
          description: "Contact successfully created"
          schema:
            $ref: "#/definitions/Contact-dump"
        "400":
          description: "Unable to create Contact"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /contact/password:
    post:
      tags:
      - "Contact"
      summary: "Recieve a request to reset password, and send a link by email with\
        \ token"
      operationId: "post_password_reset"
      parameters:
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/PasswordRequest"
        x-exportParamName: "Payload"
      responses:
        "200":
          description: "Success"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    put:
      tags:
      - "Contact"
      summary: "Recieve a token and password, verify the user and reset your password"
      operationId: "put_password_reset"
      parameters:
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/PasswordResponse"
        x-exportParamName: "Payload"
      responses:
        "200":
          description: "Success"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /contact/{contactId}:
    get:
      tags:
      - "Contact"
      summary: "Return details of a specific Contact"
      operationId: "get_contact_id_resource"
      parameters:
      - name: "contactId"
        in: "path"
        description: "ID of Contact to View / Update"
        required: true
        type: "integer"
        x-exportParamName: "ContactId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/Contact-dump"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    put:
      tags:
      - "Contact"
      summary: "Edit a Contact"
      operationId: "put_contact_id_resource"
      parameters:
      - name: "contactId"
        in: "path"
        description: "ID of Contact to View / Update"
        required: true
        type: "integer"
        x-exportParamName: "ContactId"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/ContactUpdate"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Contact successfully updated."
          schema:
            $ref: "#/definitions/Contact-dump"
        "400":
          description: "Unable to update Contact Data."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    delete:
      tags:
      - "Contact"
      summary: "Delete a Contact"
      operationId: "delete_contact_id_resource"
      parameters:
      - name: "contactId"
        in: "path"
        description: "ID of Contact to View / Update"
        required: true
        type: "integer"
        x-exportParamName: "ContactId"
      responses:
        "404":
          description: "Contact not found."
        "204":
          description: "Contact successfully deleted."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /contact/{contactId}/password:
    put:
      tags:
      - "Contact"
      summary: "Change password for a Contact"
      operationId: "put_password_resource"
      parameters:
      - name: "contactId"
        in: "path"
        description: "\"ID of Contact to change password\""
        required: true
        type: "integer"
        x-exportParamName: "ContactId"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/Password"
        x-exportParamName: "Payload"
      responses:
        "400":
          description: "Invalid password for authentication."
        "200":
          description: "Password was changed."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /credit/:
    get:
      tags:
      - "Credit"
      summary: "Return a list with all Credits"
      operationId: "get_credit_resource"
      parameters:
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Credit"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    post:
      tags:
      - "Credit"
      summary: "Receive billing method id and amount and return the created Credit"
      operationId: "post_credit_resource"
      parameters:
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/CreateCredit"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/Credit"
        "503":
          description: "Unable to add new credit."
        "201":
          description: "Successfully added a new credit."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /credit/total:
    get:
      tags:
      - "Credit"
      summary: "Return the client's total active credit amount"
      operationId: "get_total_active_credit_resource"
      parameters:
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/TotalActiveCredit"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /deploy/:
    get:
      tags:
      - "Deployment"
      summary: "Return a list with all client deployments"
      operationId: "get_deployment_resource"
      parameters:
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Deployments found successfully"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Deployment"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    post:
      tags:
      - "Deployment"
      summary: "Start a new deployment"
      operationId: "post_deployment_resource"
      parameters:
      - name: "deploymentName"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "DeploymentName"
        x-optionalDataType: "String"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "201":
          description: "Deployment Created"
          schema:
            $ref: "#/definitions/Deployment"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /deploy/{deploymentId}:
    get:
      tags:
      - "Deployment"
      summary: "Return a dictionary with deployment information"
      operationId: "get_deployment_id_resource"
      parameters:
      - name: "deploymentId"
        in: "path"
        description: "Id of the deployment to interact with"
        required: true
        type: "integer"
        x-exportParamName: "DeploymentId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Deployment Found"
          schema:
            $ref: "#/definitions/Deployment"
        "401":
          description: "Access to Deployment not Allowed"
        "404":
          description: "Deployment Not Found"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    post:
      tags:
      - "Deployment"
      summary: "Input a billing info id and script to process and finish a deployment"
      operationId: "post_deployment_id_resource"
      parameters:
      - name: "deploymentId"
        in: "path"
        description: "Id of the deployment to interact with"
        required: true
        type: "integer"
        x-exportParamName: "DeploymentId"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/DeploymentStart"
        x-exportParamName: "Payload"
      responses:
        "201":
          description: "Deployment Started"
        "401":
          description: "Access to Deployment not Allowed"
        "404":
          description: "Deployment Not Found"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    put:
      tags:
      - "Deployment"
      summary: "Receive product, quantity and options to be added on the deployment"
      operationId: "put_deployment_id_resource"
      parameters:
      - name: "deploymentId"
        in: "path"
        description: "Id of the deployment to interact with"
        required: true
        type: "integer"
        x-exportParamName: "DeploymentId"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/DeploymentCustomization"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Server configuration added to Deployment"
          schema:
            $ref: "#/definitions/Deployment"
        "400":
          description: "Your configuration have incompatible or unavailable options"
        "401":
          description: "Access to this Deployment not Allowed"
        "404":
          description: "Deployment Not Found"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    delete:
      tags:
      - "Deployment"
      summary: "Delete the specified deployment"
      operationId: "delete_deployment_id_resource"
      parameters:
      - name: "deploymentId"
        in: "path"
        description: "Id of the deployment to interact with"
        required: true
        type: "integer"
        x-exportParamName: "DeploymentId"
      responses:
        "204":
          description: "Deployment Deleted"
        "401":
          description: "Access to this Deployment not Allowed"
        "404":
          description: "Deployment Not Found"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/:
    get:
      tags:
      - "Device"
      summary: "Get all devices"
      operationId: "get_device_resource"
      parameters:
      - name: "rack_id"
        in: "query"
        description: "Filter Devices only in this Rack ID"
        required: false
        type: "integer"
        default: "null"
        x-exportParamName: "RackId"
        x-optionalDataType: "Int32"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Device-dump"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/devicelist: {}
  /device/ipmi/thresholds:
    put:
      tags:
      - "Device"
      summary: "Bulk update IPMI thresholds"
      operationId: "put_ipmi_devices_thresholds_id_resource"
      parameters:
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/UpdateDevicesIPMIThresholds"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Devices IPMI Thresholds updated."
          schema:
            $ref: "#/definitions/DevicesIPMIThresholds"
        "400":
          description: "Unable to update IPMI Thresholds for this Device list."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/preview-ignition:
    post:
      tags:
      - "Device"
      summary: "Preview Ignition injections"
      operationId: "post_preview_effective_ignition_resource"
      parameters:
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/PreviewEffectiveIgnition"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/PreviewEffectiveIgnitionResponse"
        "422":
          description: "Error"
        "400":
          description: "Error"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/tags:
    get:
      tags:
      - "Device"
      summary: "Get all tags"
      operationId: "get_client_device_tag_resource"
      parameters:
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/DeviceTag"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/tags-order:
    get:
      tags:
      - "Device"
      summary: "Get tag order"
      operationId: "get_client_device_tag_order_resource"
      parameters:
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/DeviceTag"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    put:
      tags:
      - "Device"
      summary: "Update tag order"
      operationId: "put_client_device_tag_order_resource"
      parameters:
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/DeviceTag"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Device tags order updated."
          schema:
            $ref: "#/definitions/DeviceTag"
        "400":
          description: "Bad request."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/tags-order/all:
    get:
      tags:
      - "Device"
      summary: "Get all tag orders"
      operationId: "get_all_device_tag_order_resource"
      parameters:
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/DeviceTag"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/{deviceId}:
    get:
      tags:
      - "Device"
      summary: "Get device"
      operationId: "get_device_id_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        description: "ID of Device to View / Update"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/Device-dump"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    put:
      tags:
      - "Device"
      summary: "Update device"
      operationId: "put_device_id_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        description: "ID of Device to View / Update"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/DeviceUpdate"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Device MetaData was updated."
          schema:
            $ref: "#/definitions/Device-dump"
        "400":
          description: "Unable to update Device MetaData."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/{deviceId}/deploy/script: {}
  /device/{deviceId}/deploy/ssh_key: {}
  /device/{deviceId}/events:
    get:
      tags:
      - "Device"
      summary: "Get all events"
      operationId: "get_device_id_event_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "DeviceId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/DeviceEvent"
        "404":
          description: "Device not found"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/{deviceId}/ignition:
    get:
      tags:
      - "Device"
      summary: "Get Ignition injections"
      operationId: "get_effective_ignition_id_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/EffectiveIgnitionResponse"
        "404":
          description: "Not Found"
        "400":
          description: "Error"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/{deviceId}/initial-creds:
    get:
      tags:
      - "Device"
      summary: "Get initial creds"
      operationId: "get_initial_creds_id_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        description: "ID of Device to retrieve initial authentication credentials\
          \ for"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Device initial credentials."
          schema:
            $ref: "#/definitions/DeviceInitialCreds"
        "400":
          description: "Unable to get initial credentials for this Device."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/{deviceId}/initial-password:
    get:
      tags:
      - "Device"
      summary: "Get initial password"
      operationId: "get_initial_password_id_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        description: "ID of Device to retrieve initial password"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Device initial password."
          schema:
            $ref: "#/definitions/DevicePassword"
        "400":
          description: "Unable to get initial password this Device."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/{deviceId}/ipmi:
    get:
      tags:
      - "Device"
      summary: "Get IPMI data"
      operationId: "get_ipmi_info_id_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        description: "ID of Device to retrieve IPMI info."
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Device IPMI Thresholds retrieved"
          schema:
            $ref: "#/definitions/DeviceIPMIInfo"
        "400":
          description: "Unable to retrieve IPMI Thresholds for this Device."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/{deviceId}/ipmi/login-data:
    get:
      tags:
      - "Device"
      summary: "Get IPMI creds"
      operationId: "get_ipmi_info_login_data_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        description: "ID of Device to retrieve IPMI Login data."
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Device IPMI Login data retrieved"
          schema:
            $ref: "#/definitions/IPMILoginData"
        "400":
          description: "Unable to retrieve IPMI Login data for this Device."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/{deviceId}/ipmi/nat:
    get:
      tags:
      - "Device"
      summary: "Clear IPMI whitelist"
      operationId: "get_device_ipminat_rule_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        description: "ID of a client Device"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      responses:
        "400":
          description: "The request has problems. Revise it and try again."
        "202":
          description: "The request was accepted."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/{deviceId}/ipmi/thresholds:
    get:
      tags:
      - "Device"
      summary: "Get IPMI thresholds"
      operationId: "get_ipmi_thresholds_id_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        description: "ID of Device to View"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Device IPMI Thresholds retrieved."
          schema:
            $ref: "#/definitions/DeviceIPMIThresholds"
        "400":
          description: "Unable to retrieve IPMI Thresholds for this Device."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    put:
      tags:
      - "Device"
      summary: "Update IPMI thresholds"
      operationId: "put_ipmi_thresholds_id_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        description: "ID of Device to View"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/DeviceIPMIThresholds"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Device IPMI Thresholds retrieved."
          schema:
            $ref: "#/definitions/DeviceIPMIThresholds"
        "400":
          description: "Unable to update IPMI Thresholds for this Device."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/{deviceId}/ipmi/valid-login:
    get:
      tags:
      - "Device"
      summary: "Get IPMI access status"
      operationId: "get_ipmi_valid_login_id_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        description: "ID of Device to check IPMI credentials"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "IPMI credentials validated."
          schema:
            $ref: "#/definitions/IPMIValidLogin"
        "400":
          description: "Unable to validate IPMI credentials this Device."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/{deviceId}/ipmi/whitelist/:
    post:
      tags:
      - "Device"
      summary: "Whitelist IP for IPMI"
      operationId: "post_device_ipmi_whitelist_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        description: "ID of the Device to put IP in Whitelist"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/DeviceIPMIWhitelistIP"
        x-exportParamName: "Payload"
      responses:
        "400":
          description: "The request has problems. Revise it and try again."
        "202":
          description: "The request was accepted."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/{deviceId}/ips:
    get:
      tags:
      - "Device"
      summary: "Get IPs"
      operationId: "get_device_ip_assignments_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Device Ip Assignments retrieved"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/IPAssignment"
        "400":
          description: "Unable to retrieve IP Assignments for this Device."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/{deviceId}/port/{portId}/clear:
    post:
      tags:
      - "Device"
      summary: "Clear all Port configurations"
      operationId: "post_device_port_id_clear_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - name: "portId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "PortId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "202":
          description: "Accepted"
          schema:
            $ref: "#/definitions/NetworkTask-dump"
        "429":
          description: "Request was Rate Limited"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/{deviceId}/ports:
    get:
      tags:
      - "Device"
      summary: "Get ports"
      operationId: "get_device_port_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/DevicePort"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    put:
      tags:
      - "Device"
      summary: "Update port network"
      operationId: "put_device_port_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/DevicePortsUpdate"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "202":
          description: "Accepted"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/NetworkTask-dump"
        "429":
          description: "Request was Rate Limited"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/{deviceId}/ports/bond:
    post:
      tags:
      - "Device"
      summary: "Bond ports"
      operationId: "post_device_bond_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "202":
          description: "Accepted"
          schema:
            $ref: "#/definitions/NetworkTask-dump"
        "429":
          description: "Request was Rate Limited"
        "404":
          description: "Device not found"
        "401":
          description: "Access to this Device is not allowed"
        "400":
          description: "Invalid action"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    delete:
      tags:
      - "Device"
      summary: "Unbond ports"
      operationId: "delete_device_bond_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "202":
          description: "Accepted"
          schema:
            $ref: "#/definitions/NetworkTask-dump"
        "429":
          description: "Request was Rate Limited"
        "404":
          description: "Device not found"
        "401":
          description: "Access to this Device is not allowed"
        "400":
          description: "Invalid action"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/{deviceId}/power:
    get:
      tags:
      - "Device"
      summary: "Get power status"
      operationId: "get_power_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        description: "ID of Device to View / Update"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/DevicePower"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    post:
      tags:
      - "Device"
      summary: "Update power status"
      operationId: "post_power_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        description: "ID of Device to View / Update"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - name: "action"
        in: "query"
        description: "Must be one of boot|reboot|shutdown"
        required: true
        type: "string"
        pattern: "boot|reboot|shutdown"
        x-exportParamName: "Action"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "202":
          description: "Success"
          schema:
            $ref: "#/definitions/DevicePower"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/{deviceId}/reload:
    post:
      tags:
      - "Device"
      summary: "Reload device"
      operationId: "post_device_reload_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/DeviceReload"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/ServiceOption"
        "400":
          description: "Error"
        "404":
          description: "Device not found"
        "202":
          description: "Success"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/{deviceId}/services:
    get:
      tags:
      - "Device"
      summary: "Get all device services"
      operationId: "get_device_id_service_resource"
      parameters:
      - name: "group_by"
        in: "query"
        description: "Get results grouped by service type code 'type_code', or 'flat'"
        required: false
        type: "string"
        default: "flat"
        x-exportParamName: "GroupBy"
        x-optionalDataType: "String"
      - name: "type_code"
        in: "query"
        description: "Return service having the same service type code, the default\
          \ value is all\n The list of service types can be accessed on https://core.hivelocity.net/api/v2/service/types"
        required: false
        type: "string"
        default: "all"
        x-exportParamName: "TypeCode"
        x-optionalDataType: "String"
      - name: "deviceId"
        in: "path"
        description: "ID of Device to get all services by type"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      responses:
        "404":
          description: "Unable to find the device or the device does not have a service"
        "400":
          description: "Unable to retrieve services for this device"
        "200":
          description: "Device services retrieved"
          schema:
            $ref: "#/definitions/Services"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /device/{deviceId}/tags:
    get:
      tags:
      - "Device"
      summary: "Get device tags"
      operationId: "get_device_tag_id_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        description: "ID of Device to View / Update"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/DeviceTag"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    put:
      tags:
      - "Device"
      summary: "Update device tags"
      operationId: "put_device_tag_id_resource"
      parameters:
      - name: "deviceId"
        in: "path"
        description: "ID of Device to View / Update"
        required: true
        type: "integer"
        x-exportParamName: "DeviceId"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/DeviceTag"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Device tags updated."
          schema:
            $ref: "#/definitions/DeviceTag"
        "400":
          description: "Bad request."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /domains/:
    get:
      tags:
      - "Domains"
      summary: "Return the domains of a client"
      operationId: "get_domain_resource"
      parameters:
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/DomainReturn"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    post:
      tags:
      - "Domains"
      summary: "Create a new domain"
      operationId: "post_domain_resource"
      parameters:
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/DomainCreate"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/DomainReturn"
        "400":
          description: "Bad request."
        "201":
          description: "Created."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /domains/ptr:
    get:
      tags:
      - "Domains"
      summary: "Return the PTR records of a client"
      operationId: "get_ptr_record_resource"
      parameters:
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/PTRRecordReturn"
        "400":
          description: "Error"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /domains/ptr/{recordId}:
    get:
      tags:
      - "Domains"
      operationId: "get_ptr_record_id_resource"
      parameters:
      - name: "recordId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "RecordId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success."
          schema:
            $ref: "#/definitions/PTRRecordReturn"
        "400":
          description: "Error"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    put:
      tags:
      - "Domains"
      operationId: "put_ptr_record_id_resource"
      parameters:
      - name: "recordId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "RecordId"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/PTRRecordUpdate"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/PTRRecordReturn"
        "400":
          description: "Error"
        "202":
          description: "Success."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /domains/{domainID}/aaaa-record:
    get:
      tags:
      - "Domains"
      summary: "Return all AAAA Records found for given zone"
      operationId: "get_aaaa_record_resource"
      parameters:
      - name: "domainID"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DomainID"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AAAARecordReturn"
        "404":
          description: "Not found"
        "400":
          description: "Error"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    post:
      tags:
      - "Domains"
      summary: "Create a new AAAA Record for given zone"
      operationId: "post_aaaa_record_resource"
      parameters:
      - name: "domainID"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DomainID"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/AAAARecordCreate"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/AAAARecordReturn"
        "404":
          description: "Not found"
        "400":
          description: "Error"
        "201":
          description: "Created"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /domains/{domainID}/aaaa-record/{recordId}:
    get:
      tags:
      - "Domains"
      summary: "Return Single AAAA Records found for given id"
      operationId: "get_aaaa_record_id_resource"
      parameters:
      - name: "domainID"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DomainID"
      - name: "recordId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "RecordId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/AAAARecordReturn"
        "404":
          description: "Not found"
        "400":
          description: "Error"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    put:
      tags:
      - "Domains"
      summary: "Update an AAAA Record for given id"
      operationId: "put_aaaa_record_id_resource"
      parameters:
      - name: "domainID"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DomainID"
      - name: "recordId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "RecordId"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/AAAARecordUpdate"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/AAAARecordReturn"
        "404":
          description: "Not Found"
        "400":
          description: "Error"
        "202":
          description: "Updated"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    delete:
      tags:
      - "Domains"
      summary: "Delete an AAAA Record for given zone"
      operationId: "delete_aaaa_record_id_resource"
      parameters:
      - name: "domainID"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DomainID"
      - name: "recordId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "RecordId"
      responses:
        "404":
          description: "Not found"
        "400":
          description: "Error"
        "204":
          description: "Deleted"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /domains/{domainID}/mx-record:
    get:
      tags:
      - "Domains"
      summary: "Return all MX Records found for given zone"
      operationId: "get_mx_record_resource"
      parameters:
      - name: "domainID"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DomainID"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/MXRecordReturn"
        "404":
          description: "Not found"
        "400":
          description: "Error"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    post:
      tags:
      - "Domains"
      summary: "Create a new MX Record for given zone"
      operationId: "post_mx_record_resource"
      parameters:
      - name: "domainID"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DomainID"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/MXRecordCreate"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/MXRecordReturn"
        "404":
          description: "Not found"
        "400":
          description: "Error"
        "201":
          description: "Created"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /domains/{domainID}/mx-record/{recordId}:
    get:
      tags:
      - "Domains"
      summary: "Return Single MX Records found for given id"
      operationId: "get_mx_record_id_resource"
      parameters:
      - name: "domainID"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DomainID"
      - name: "recordId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "RecordId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/MXRecordReturn"
        "404":
          description: "Not found"
        "400":
          description: "Error"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    put:
      tags:
      - "Domains"
      summary: "Update an MX Record for given zone"
      operationId: "put_mx_record_id_resource"
      parameters:
      - name: "domainID"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DomainID"
      - name: "recordId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "RecordId"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/MXRecordUpdate"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/MXRecordReturn"
        "404":
          description: "Not found"
        "400":
          description: "Error"
        "202":
          description: "Updated"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    delete:
      tags:
      - "Domains"
      summary: "Delete an MX Record for given zone"
      operationId: "delete_mx_record_id_resource"
      parameters:
      - name: "domainID"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DomainID"
      - name: "recordId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "RecordId"
      responses:
        "404":
          description: "Not found"
        "400":
          description: "Error"
        "204":
          description: "Deleted"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /domains/{domainId}:
    get:
      tags:
      - "Domains"
      summary: "Return a domain for given id"
      operationId: "get_domain_id_resource"
      parameters:
      - name: "domainId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DomainId"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success."
          schema:
            $ref: "#/definitions/DomainReturn"
        "404":
          description: "Domain not found."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    delete:
      tags:
      - "Domains"
      summary: "Delete domain for given id"
      operationId: "delete_domain_id_resource"
      parameters:
      - name: "domainId"
        in: "path"
        required: true
        type: "integer"
        x-exportParamName: "DomainId"
      responses:
        "500":
          description: "Error."
        "404":
          description: "Domain not found."
        "204":
          description: "Deleted."
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /domains/{domain}/a-record:
    get:
      tags:
      - "Domains"
      summary: "Return all A Records found for given zone name"
      operationId: "get_a_record_resource"
      parameters:
      - name: "domain"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Domain"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ARecord"
        "404":
          description: "Not found"
        "400":
          description: "Error"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    post:
      tags:
      - "Domains"
      summary: "Create a new A Record for given zone"
      operationId: "post_a_record_resource"
      parameters:
      - name: "domain"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Domain"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/ARecord"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/ARecord"
        "409":
          description: "Record Already Exists"
        "404":
          description: "Not found"
        "400":
          description: "Error"
        "201":
          description: "Created"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /domains/{domain}/a-record/{record}:
    get:
      tags:
      - "Domains"
      summary: "Return Single A Records found for given domain name"
      operationId: "get_a_record_id_resource"
      parameters:
      - name: "domain"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Domain"
      - name: "record"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Record"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/ARecord"
        "404":
          description: "Not found"
        "400":
          description: "Error"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    put:
      tags:
      - "Domains"
      summary: "Update an A Record for given zone"
      operationId: "put_a_record_id_resource"
      parameters:
      - name: "domain"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Domain"
      - name: "record"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Record"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/ARecord"
        x-exportParamName: "Payload"
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/ARecord"
        "404":
          description: "Not found"
        "400":
          description: "Error"
        "202":
          description: "Updated"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    delete:
      tags:
      - "Domains"
      summary: "Delete a single A Record value for given zone"
      operationId: "delete_a_record_id_resource"
      parameters:
      - name: "domain"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Domain"
      - name: "record"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Record"
      responses:
        "404":
          description: "Not found"
        "400":
          description: "Error"
        "204":
          description: "Deleted"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
  /ignition/:
    get:
      tags:
      - "Ignition"
      summary: "Gets an Ignition configuration"
      operationId: "get_ignition_resource"
      parameters:
      - name: "X-Fields"
        in: "header"
        description: "An optional fields mask"
        required: false
        type: "string"
        format: "mask"
        x-exportParamName: "XFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Successfully returned ignition configs"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/IgnitionResponse"
        "400":
          description: "Unable to get ignition configs"
        "403":
          description: "You have not been granted permission to complete this action.\
            \ Please contact your account manager to grant the proper permission."
    post:
      tags:
      - "Ignition"
      summary: "Creates a new Ignition configuration"
      operationId: "post_ignition_resource"
      parameters:
      - in: "body"
        name: "payload"
[...]
